{
    "web": {
        "address": "127.0.0.1:8000"
    },
    "cache": {
        "ttl": 3600,
        "address": "127.0.0.1:6379",
        "enabled": true
    },
    "tmdb": {
        "api_key": "?"
    }
}
